<h1>
    {{ self.href_head() | safe }}
    {# <button id="copy-path" title="Copy item path to clipboard">
        <img src="/-/rustdoc.static/clipboard-7571035ce49a181d.svg" width="19" height="18" alt="Copy item path">
    </button> #}
</h1>