<h1>Module <a href="../../index.html">std</a>::<wbr><a href="../index.html">files</a>::<wbr><a class="mod"
        href="#">filters</a>
    {# <button id="copy-path" title="Copy item path to clipboard">
        <img src="/-/rustdoc.static/clipboard-7571035ce49a181d.svg" width="19" height="18" alt="Copy item path">
    </button> #}
</h1>

{{ self.summary }}


{% if self.has_module() %}
<h2 id="modules" class="small-section-header">
    <a href="#modules">Modules</a>
</h2>
<ul class="item-table"></ul>
{% for child in self.render_modules(store) %}
<li>
    <div class="item-name">
        <a class="{{ child.href_class() }}" href="{{ child.href_in_module() }}" title="{{ child.get_name_path() }}">
            {{ child.get_name() }}
        </a>
    </div>
    <div class="desc docblock-short">{{ child.get_summary() }}</div>
</li>
{% endfor %}
</ul>
{% endif %}




{% if self.has_interface() %}
<h2 id="interfaces" class="small-section-header">
    <a href="#interfaces">Interfaces</a>
</h2>
<ul class="item-table"></ul>
{% for child in interfaces %}
<li>
    <div class="item-name">
        <a class="{{ child.href_class() }}" href="{{ child.href_in_module() }}" title="{{ child.get_name_path() }}">
            {{ child.get_name() }}
        </a>
    </div>
    <div class="desc docblock-short">{{ child.get_summary() }}</div>
</li>
{% endfor %}
</ul>
{% endif %}


{% if self.has_type() %}
<h2 id="structures" class="small-section-header">
    <a href="#structures">Tyes</a>
</h2>
<ul class="item-table"></ul>
{% for child in types %}
<li>
    <div class="item-name">
        <a class="{{ child.href_class() }}" href="{{ child.href_in_module() }}" title="{{ child.get_name_path() }}">
            {{ child.get_name() }}
        </a>
    </div>
    <div class="desc docblock-short">{{ child.get_summary() }}</div>
</li>
{% endfor %}
</ul>
{% endif %}



{% if self.has_structure() %}
<h2 id="structures" class="small-section-header">
    <a href="#structures">Structures</a>
</h2>
<ul class="item-table"></ul>
{% for child in structures %}
<li>
    <div class="item-name">
        <a class="{{ child.href_class() }}" href="{{ child.href_in_module() }}" title="{{ child.get_name_path() }}">
            {{ child.get_name() }}
        </a>
    </div>
    <div class="desc docblock-short">{{ child.get_summary() }}</div>
</li>
{% endfor %}
</ul>
{% endif %}


<style>
    table,
    .item-table {
        overflow-wrap: break-word;
    }

    .item-table {
        display: table;
        padding: 0;
        margin: 0;
    }

    .item-table>li {
        display: table-row;
    }

    .item-table>li>div {
        display: table-cell;
    }

    .item-table>li>.item-name {
        padding-right: 1.25rem;
    }

    .token-type {
        color: #E2931D;
    }

    .token-module {
        color: #4078F2;
    }

    .token-structure {
        color: #E2931D;
    }

    .token-interface {
        color: #50A14E;

    }
</style>